<section class="contact">
  <h4>Contect with Us</h4>
  <div class="container">
    <div class="form">
      <form [formGroup]="message" (ngSubmit)="onSubmit()">
        <label for="subject"> Subject:</label>
        <input
          id="subject"
          type="text"
          formControlName="subject"
          placeholder="Enter your subject ..."
          required
        />

        <label for="email"> Email: </label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your email ..."
          required
        />
        <label for="message"> Message: </label>
        <textarea
          id="message"
          type="textarea"
          cols="50"
          rows="5"
          formControlName="textMessage"
          placeholder="Enter your message"
          required
        >
        </textarea>

        <button type="submit" [disabled]="!message.valid">
          Send Message
        </button>
      </form>
    </div>
    <div class="address-info">
      <div class="talk">
        <h5>Talk to us:</h5>
        <ul>
          <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:somafoundationug@gmail.com">
              somafoundationug@gmail.com
            </a>
            <br />
            <i class="fas fa-phone"></i>
            <a href="tel:+256757374546">+256 757 374 546</a>
          </li>
        </ul>
      </div>
      <div class="social-network">
        <h5>Social networks:</h5>
        <ul>
          <li>
            <a
              href="https://facebook.com/SomaFoundationlimited/"
              target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/soma_foundation" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://api.whatsapp.com/send?phone=+256757374546"
              target="_blank"
              ><i class="fab fa-whatsapp"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="address">
        <h5><i class="fas fa-map-marker-alt"></i> Visit us at:</h5>
        <address>
          <p>University plaza ground floor room B10</p>
          <br />
          <p>Makerere, Wandegeya, Plot 45 Bombo Road,</p>
          <br />
          <p>P.O.Box 35787,Kampala</p>
        </address>
      </div>
    </div>
  </div>
</section>
