<section>
  <div class="donate-banner">
    <div class="donate"><p class="donate">Donate Now</p></div>
    <div class="contact"><p class="contact">Talk to Us</p></div>
  </div>
  <div class="container">
    <div class="footer-caption">
      <img src="../../../assets/images/logo.png" alt="" />

      <blockquote>
        <p>
          The blessing of those who spend their riches in the way of God, like
          the seed from which the seven ears grow, on each of them - for one
          hundred seeds. The Most High doubles whoever he wants. The Lord is
          Comprehensive and Omniscient.
        </p>

        <footer>—The Holy Qur'an, <cite>2: 261 </cite></footer>
      </blockquote>
    </div>
    <div class="contact">
      <div class="talk">
        <h5>Talk to us:</h5>
        <ul>
          <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:somafoundationug@gmail.com">
              somafoundationug@gmail.com
            </a>
            <br />
            <i class="fas fa-phone"></i>
            <a href="tel:+256757374546">+256 757 374 546</a>
          </li>
        </ul>
      </div>
      <div class="social-network">
        <h5>Social networks:</h5>
        <ul>
          <li>
            <a
              href="https://facebook.com/SomaFoundationlimited/"
              target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/soma_foundation" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://api.whatsapp.com/send?phone=+256757374546"
              target="_blank"
              ><i class="fab fa-whatsapp"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="address">
        <h5><i class="fas fa-map-marker-alt"></i> Visit us at:</h5>
        <address>
          <p>University plaza ground floor room B10</p>
          <br />
          <p>Makerere, Wandegeya, Plot 45 Bombo Road,</p>
          <br />
          <p>P.O.Box 35787,Kampala</p>
        </address>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3989.7499872999924!2d32.57051091430511!3d0.3353335997553456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x177dbb0ddd738411%3A0x2223cf7fa361dc72!2sSoma%20foundation%2C%2045%20Bombo%20Rd%2C%20Kampala!3m2!1d0.3353336!2d32.5726996!5e0!3m2!1sen!2sug!4v1582032101767!5m2!1sen!2sug"
          width="600"
          height="450"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </div>
  <footer class="main-footer">
    Soma Foundation Limited &copy; 2017-{{ year }} All Rights Reserved
  </footer>
</section>
