<section>
  <!-- <h3 class="header">Projects</h3> -->
  <div class="container">
    <div>
      <img src="../../../assets/images/career.JPG" alt="" />
      <h3>Career Guidance</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum,
        consequatur?
      </p>
      <a href="#">learn More <i class="fas fa-angle-right x2"></i></a>
    </div>
    <div>
      <img src="../../../assets/images/bore1.JPG" alt="" />
      <h3>Boreholes</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum,
        consequatur?
      </p>
      <a href="#">learn More <i class="fas fa-angle-right"></i></a>
    </div>
    <div>
      <img src="../../../assets/images/dhuhia.jpg" alt="" />
      <h3>Dhuhia Program</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum,
        consequatur?
      </p>
      <a href="#">learn More <i class="fas fa-angle-right"></i></a>
    </div>
    <div>
      <img src="../../../assets/images/outreach.JPG" alt="" />
      <h3>Community Outreach</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum,
        consequatur?
      </p>
      <a href="#">learn More <i class="fas fa-angle-right"></i></a>
    </div>
  </div>
</section>
