<section>
  <h2>Our Programs</h2>
  <div class="container">
    <div>
      <img src="../../../assets/images/career.JPG" alt="" />
      <h3>Career Guidance</h3>
      <p>
        Provide material assistance in training poor students, to organize
        educational and educational competitions among students of University.
      </p>
      <a href="#">learn More <i class="fas fa-angle-right x2"></i></a>
    </div>
    <div>
      <img src="../../../assets/images/bore1.JPG" alt="" />
      <h3><a href="#">Boreholes</a></h3>
      <p>
        Assist commuinities with a shortage of cleand and realiable water
        supply, by distributing boreholes to these areas
      </p>
      <a href="#">learn More <i class="fas fa-angle-right"></i></a>
    </div>
    <div>
      <img src="../../../assets/images/dhuhia.jpg" alt="" />
      <h3>Dhuhia Program</h3>
      <p>
        Assist poor families and those in need of distributing meat of
        sacrificial animals during the holidays of Kurban-Bayram (Eid al-Adha).
      </p>
      <a href="#">learn More <i class="fas fa-angle-right"></i></a>
    </div>
    <div>
      <img src="../../../assets/images/outreach.JPG" alt="" />
      <h3>Community Outreach</h3>
      <p>
        Assist the communities ( families and orphans) of Uganda by providing
        different items to the needy homesteadies.
      </p>
      <a href="#">learn More <i class="fas fa-angle-right"></i></a>
    </div>
  </div>
</section>
