<section>
  <div class="intro">
    <div class="intro-desc">
      <h1>
        Caring for others<br />
        is the best way to <br />
        take care of us.
      </h1>
      <h4>
        Find someone, care for them, <br />
        you all get better
      </h4>

      <div class="contact-button"><p>Talk to Us, anytime</p></div>
      <div class="donate-button"><p>Donate</p></div>
    </div>
    <!-- <img src="../../../assets/images/girl.png" alt="a girl with books" /> -->
    <div class="logo"></div>
  </div>
</section>
