<!-- <header>
  <div class="container">
    <nav>
      <ul>
        <li id="logo">
          <img src="../../../assets/images/logo.png" alt="soma logo" />
        </li>
        <li class="nav-links">About</li>
        <li class="nav-links">Projects</li>
        <li class="nav-links">Contact Us</li>
      </ul>
    </nav>
  </div>
  <div class="side-nav">
    <div class="mobile">
      <input type="checkbox" id="check" />
      <label id="icon" for="check"> -->
<!--  icon    -->
<!-- <div id="test" (click)="toggleNav($event)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </label>

      <div class="logo">
        <img src="../../../assets/images/logo.png" alt="" />
      </div>
      <div class="menu">
        <nav>
          <a href="#">
            <div class="link">About</div>
          </a>
          <a href="#">
            <div class="link">Projects</div>
          </a>
          <a href="#">
            <div class="link">Contact Us</div>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header> -->

<nav>
  <div class="container">
    <img src="../../../assets/images/logo.png" alt="soma logo" />

    <ul class="navbar">
      <li class="nav-links">About</li>
      <li class="nav-links">Projects</li>
      <li class="nav-links">Contact Us</li>
    </ul>

    <ul>
      <li class="donate-btn">Donate Now</li>
      <li style="display: none;" class="mobile-menu">
        <i class="fas fa-bars"></i>
      </li>
    </ul>
  </div>
</nav>
