//import fonts and colors
@import "../../../variables.scss";

nav {
  width: 100%;
  height: 100px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);

  .container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $heading;
    font-weight: 600;

    img {
      width: 70px;
      margin-right: 15px;
    }
    ul.navbar {
      display: flex;
      flex: 1;

      li {
        margin-left: 1.2rem;
        line-height: 70px;
        cursor: pointer;

        &:hover {
          color: $blueColor;
        }
      }
    }

    ul {
      display: flex;
      li {
        cursor: pointer;
        &.donate-btn {
          background: $blueColor;
          height: 35px;
          width: 120px;
          border-radius: 5px;
          line-height: 35px;
          text-align: center;
          color: #fff;

          &:hover {
            opacity: 0.8;
          }
        }

        &.mobile-menu {
          width: 30px;
          height: 30px;
          background: inherit;
          margin-left: 1rem;
          cursor: pointer;
          position: relative;

          div {
            width: 100%;
            height: 5px;
            border-radius: 2.5px;
            // margin: 5px 0;
            background-color: #333;
            position: absolute;

            &.line1 {
              top: 0;
            }
            &.line2 {
              top: 50%;
              transform: translateY(-50%);
            }
            &.line3 {
              bottom: 0;
            }
          }

          &.close {
            .line1 {
              transform: rotate(-45deg);
              top: 50%;
              // transform: translateY(-50%);
            }
            .line2 {
              display: none;
            }

            .line3 {
              transform: rotate(45deg);
              top: 50%;
            }
          }
        }
      }
    }
  }
}
