<nav>
  <div class="container">
    <img src="../../../assets/images/logo.png" alt="soma logo" />

    <ul class="navbar">
      <li class="nav-links">About</li>
      <li class="nav-links">Projects</li>
      <li class="nav-links">Contact Us</li>
    </ul>

    <ul>
      <li class="donate-btn">Donate Now</li>
      <!-- <li style="display: none;" class="mobile-menu">
        <i class="fas fa-bars"></i>
      </li> -->
      <li class="mobile-menu " (click)="toggleNav($event)">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </li>
    </ul>
  </div>
</nav>
