/* Coolors Exported Palette - coolors.co/798183-418acf-000000-ffffff-ffe900 */

/* HSL */
$color1: hsla(192%, 4%, 49%, 1);
$color2: hsla(209%, 60%, 53%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(55%, 100%, 50%, 1);

/* RGB */
$headerColor: rgba(121, 129, 131, 1);
$blueColor: rgba(65, 138, 207, 1);
$black: rgba(0, 0, 0, 1);
$bgColor: rgba(255, 255, 255, 1);
$color5: rgba(255, 233, 0, 1);

//Fonts
//serif
$heading: "Raleway", sans-serif;

//San-serif
$body: "Merriweather", serif;
